<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>confirmation</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}
    <script src="{% static 'script_personnalise.js' %}" type="text/javascript"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
<body>
    <article>
        <h2>
            confirm your dates
        </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            réservation 1 : ...
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <form class="toHide">
                        <li>
                            <div class="form-check">
                                    <input class="plage" type="radio" name="exampleRadios1" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                     date1
                                    </label>
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios1" required >
                                    <label class="form-check-label" for="exampleRadios2">
                                    date2
                                    </label>
                                    </div>
                                    <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios1" required >
                                    <label class="form-check-label" for="exampleRadios2">
                                    date3
                                    </label>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <div class="submit">
                            <input onclick = "hiddeDates(0)" class="btn btn-secondary" id="sub" type="submit" value="Submit" required>
                            </div>
                        </li>
                    </form>
            </ul>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            réservation 2 : ...
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <form class="toHide">
                    <li>
                        <div class="form-check">
                                <input class="plage" type="radio" name="exampleRadios1" required>
                                <label class="form-check-label" for="exampleRadios2">
                                date1
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios1" required >
                                <label class="form-check-label" for="exampleRadios2">
                                date2
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios1" required >
                                <label class="form-check-label" for="exampleRadios2">
                                date3
                                </label>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <div class="submit">
                            <input onclick = "hiddeDates(1)" class="btn btn-secondary" id="sub" type="submit" value="Submit" required>
                        </div>
                    </li>
                </form>
            </ul>
        </div>
    </article>
</body>
</html>